* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $ff-main;
  font-size: $fs-base;
}

h1,
h2,
h3,
h4,
h5 {
  text-decoration: none;
  font-size: medium;
  font-weight: normal;
  line-height: normal;
  margin: 0;
}

img {
  width: 100%;
}

svg {
  width: 100%;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

li {
  list-style: none;
}

.container {
  max-width: 1320px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
