// * Positioning
@mixin absolute {
  position: absolute;
  left: 0;
  top: 0;
}

@mixin absolutelyCenter {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

// * Flex
@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexSpaceAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flexHorizontalCenter {
display: flex;
justify-content: center;
}

@mixin flexHorizontalSpace {
display: flex;
justify-content: space-between;
}

@mixin flexVerticalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexVerticalSpace {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin flexAbsoluteCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// // ! Fonts
// @mixin font-face($fontname, $fontfile, $fontweight: normal, $fontstyle: normal) {
// 	@font-face {
// 		font-family: $fontname;
// 		src: url('../assets/fonts/' + $fontfile + '.eot');
// 		src: url('../assets/fonts/' + $fontfile + '.woff') format('woff'),
// 				url('../assets/fonts/' + $fontfile + '.ttf') format('truetype');
// 		font-weight: $fontweight;
// 		font-style: $fontstyle;
// 	}
// };