// * Font Families
$ff-main: "Roboto", sans-serif;

// * Font Sizes
// Text font sizes
$fs-job-title: 12px;
$fs-base: 16px;
$fs-text-large: 18px;
$fs-label: 24px;
// Headings font sizes
$fs-heading-one: 56px;
$fs-heading-two: 48px;
$fs-heading-three: 36px;
$fs-heading-four: $fs-label;
$fs-heading-five: $fs-text-large;
$fs-heading-six: $fs-base;

// * Font Weights
$fw-base: normal;
$fw-bold: bold;
$fw-black: 900;

// * Colors
$c-primary: #1d2130;
$c-input-dark: #2b2e3c;
$c-button-dark: #313852;
$c-blue: #6b7cff;
$c-light-violet: #e0e4fc;
$c-logo: #1e1b1b;
$c-white: #ffffff;
$c-icon-bg: #f4f5f7;
$c-arrow-bg: #ffacac;
$c-copyright: #888888;
$c-linear-gradient: linear-gradient(#373fff, #3acaf8);
$c-radial-gradient: radial-gradient(#d798e1, #9bffa5, #aed3ff, #c9d4ef, #cacffa);

// * Transition
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

// * Media Queries: Breakpoints
$small: 320px;
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$screen: 1400px;
$large: 1920px;

// !Media Queries: Examples

// @example scss - With a single set breakpoint
// /  @include media(">phone") { }
// /
// / @example scss - With two set breakpoints
// /  @include media(">phone", "<=tablet") { }
// /
// / @example scss - With custom values
// /  @include media(">=358px", "<850px") { }
// /
// / @example scss - With set breakpoints with custom values
// /  @include media(">desktop", "<=1350px") { }
