extends ./src/static/extends/layout

block style 
  link(rel="stylesheet", href="./index.css")
block title 
  title Big Hope
block content

  +header
  include ./src/fa-jt-home/home
  +footer
  block script
    script(src="./index.js") 


