extends ./src/static/extends/layout

block style 
  link(rel="stylesheet", href="./index.css")
block title 
  title Big Hope
block content
  - const values = [{text: 'Home', link: '#'}, {text: 'Product', link: '#'}, {text: 'Pricing', link: '#'}, {text: 'About us', link: '#'}, {text: 'Blog', link: '#'}, {text: 'Contact', link: '#'}]
  +header
  include ./src/fa-jt-home/home


