extends ./src/static/extends/layout

block style 
  link(rel="stylesheet", href="./index.css")
block title 
  title Big Hope
block content
  - const values = [{text: 'Home', link: '#'}, {text: 'Product', link: './src/sa-mt-product/product.pug'}, {text: 'Pricing', link: './src/dv-pricing/dv-index.pug'}, {text: 'About us', link: './src/gs-about-us/gs-index.pug'}, {text: 'Blog', link: './src/to-blog/to-index.pug'}, {text: 'Contact', link: './src/pi-contact/pi-index.pug'}]
  +header
  include ./src/fa-jt-home/home
    
  block script
    script(src="./index.js") 


