/* Error: Undefined variable.
 *   ,
 * 2 | $body-bg: $c-white;
 *   |           ^^^^^^^^
 *   '
 *   scss\plugins\bootstrap\_variables.scss 2:11  @import
 *   scss\plugins\bootstrap\_bootstrap.scss 3:9   @import
 *   scss\plugins\_index.scss 1:9                 @import
 *   scss\_index.scss 1:9                         @import
 *   index.scss 1:9                               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 2 \2502  $body-bg: $c-white;\d\a   \2502            ^^^^^^^^\a   \2575 \a   scss\\plugins\\bootstrap\\_variables.scss 2:11  @import\a   scss\\plugins\\bootstrap\\_bootstrap.scss 3:9   @import\a   scss\\plugins\\_index.scss 1:9                 @import\a   scss\\_index.scss 1:9                         @import\a   index.scss 1:9                               root stylesheet";
}
