extends ./src/static/extends/layout

block style 
  link(rel="stylesheet" href="./index.css")


block title 
  title Home

block body
  .container.fa-best-software
    .fa-best-software__wrapper
      .fa-best-software__content
        h1.fa-best-software__title The Best Software to Grow your Sales and Services
        p.fa-best-software__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
      .fa-best-software__form
        +input()
          +button(args)
      .fa-best-software__image
        img(src="./assets/dashboard.png" alt="best-software-dashboard-image")  












  .jt-analyze-sales
  .jt-analyze-sales__wrapper.container
    .jt-analyze-sales__block
      .jt-analyze-sales__uptitle Discover More
      h2.jt-analyze-sales__title Analyze your sales and marketing leads
      p.jt-analyze-sales__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua invidunt ut labore.
    .jt-analyze-sales__block
      .jt-analyze-sales__list

        .jt-analyze-sales__item
          .item__icon
            img.item__image(src="./icon.svg" alt="test icon")
          .item__text 
            .item__title Sales Tracking
            .item__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr.

        .jt-analyze-sales__item
          .item__icon
            img.item__image(src="./icon.svg" alt="test icon")
          .item__text 
            .item__title Project Management
            .item__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr.

        .jt-analyze-sales__item
          .item__icon
            img.item__image(src="./icon.svg" alt="test icon")
          .item__text 
            .item__title Activity Report
            .item__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr.

  +features 




