mixin icon(name, classes)
  svg.icon(class=classes)
    use(xlink:href='#icon-' + name)


//- mixin iconFooter(name)
//-   svg(class='social-media__icon social-media__icon--' +name)
//-     use(xlink:href='../../../assets/icon/base.svg#icon-' +name)