extends ../../src/static/extends/layout



block style 
  link(rel="stylesheet" href="./blog-post.css")



block title 
  title Blog post



block body
  .pi-post
    h2.pi-post-title  New invoicing features to help you<br>get paid faster
    p.pi-post-text Luke Matthews| Nowember 8, 2021
    .pi-posts__banner
      img(src="banner.jpg" alt="")

