doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Home
    link(rel="stylesheet" href="./../../index.css")
  body 
    include ./fa-home/fa-index
    include ./jt-home/jt-index