section.container.dv-faq
  .dv-faq__content 
    h2.dv-faq__title Frequestly Asked Questions
    .dv-faq__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.