mixin card(args)
  section.container.dv-pricing-card
    .dv-pricing-card__head
      .dv-pricing-card__icon
      h3.dv-pricing-card__title
      .dv-pricing-card__subtitle
    +card-content({text})  
    .dv-pricing-card__content
 
