.toggle
  label.toggle__label
    input(type="radio", checked='checked', name='pricingPlan').toggle__radio-fake
    span.toggle__radio
    | Monthly
  label.toggle__label
    input(type="radio", name='pricingPlan').toggle__radio-fake
    span.toggle__radio
    | Yearly




//-   <fieldset>
//-   <legend>Is this toggle switch awesome?</legend>
//-   <div class="toggle">
//-     <input type="radio" name="sizeBy" value="weight" id="sizeWeight" checked="checked" />
//-     <label for="sizeWeight">It's pretty, pretty, pretty, pretty good</label>
//-     <input type="radio" name="sizeBy" value="dimensions" id="sizeDimensions" />
//-     <label for="sizeDimensions">100% yes</label>
//-   </div>
//-   <p class="status">Toggle is <span>auto width</span><span>full width</span>.</p>
//- </fieldset>