mixin mt-data-driven(arguments)
  div(class="mt-content-img__wraper " + arguments.class)
    .mt-content-img__content
      .mt-content-img__subtitle= arguments.subtitle 
      h2.mt-content-img__title= arguments.title
      .mt-content-img__text= arguments.text    
    .mt-content-img__image
      img(src= arguments.img)

