mixin analyze-sales
  .jt-analyze-sales
    .jt-analyze-sales__wrapper.container
      .jt-analyze-sales__block
        .jt-analyze-sales__uptitle Discover More
        h2.jt-analyze-sales__title Analyze your sales and marketing leads
        p.jt-analyze-sales__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua invidunt ut labore.
      .jt-analyze-sales__block
        .jt-analyze-sales__list

          .jt-analyze-sales__item
            .item__icon
              //- img.item__image(src="./icon.svg" alt="test icon")
              +icon('Icon-12', 'jt-analyze-sales__icon')
            .item__text 
              .item__title Sales Tracking
              .item__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr.

          .jt-analyze-sales__item
            .item__icon
              //- img.item__image(src="./icon.svg" alt="test icon")
              +icon('Icon-9', 'jt-analyze-sales__icon')
            .item__text 
              .item__title Project Management
              .item__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr.

          .jt-analyze-sales__item
            .item__icon
              //- img.item__image(src="./icon.svg" alt="test icon")
              +icon('Icon-10', 'jt-analyze-sales__icon')
            .item__text 
              .item__title Activity Report
              .item__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr.