mixin features  
  .container.jt-features  
    .jt-features__wrapper 
      h2.jt-features__title Features  
      .jt-features__block
        .jt-block  
          .jt-block__image
            +icon('Icon-4', 'jt-features__icon')
          .jt-block__title Advanced 256-bit encryption
          .jt-block__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.

        .jt-block  
          .jt-block__image
            +icon('Icon-5', 'jt-features__icon')
          .jt-block__title Simple collaboration tools
          .jt-block__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.

        .jt-block  
          .jt-block__image
            +icon('Icon-6', 'jt-features__icon')
          .jt-block__title Customizable AI features
          .jt-block__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.  