mixin header 
  - const navigationList = [{text: 'Home', link: '#'}, {text: 'Product', link: '../../../pages/product/product.html'}, {text: 'Blog', link: './src/to-blog/to-index.pug'}, {text: 'Contact', link: './src/pi-contact/pi-index.pug'}]
  header.header
    .header__wrapper.container
      +logo("black", "Logo")
      .header__navigation#js-header-navigation
        +navigation(navigationList)
        .header__button
          +button({text:'Free trial'})(class='button button--black')
        +burger
