mixin navigation()
  - const navClass = "navigation"
  nav(class= navClass) 
    ul(class= navClass + "__list") 
      each val in values 
        li(class= navClass + "__item")
          a(class= navClass + "__link" src= val.link)= val.text



