mixin ready-to-grow 
  .ready-to-grow
    .ready-to-grow__wrapper.container
      h2.ready-to-grow__title Are you ready to grow your business with us?  
      .ready-to-grow__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
      .ready-to-grow__button.button
        a.ready-to-grow__button--text(href="./../../../pages/pricing/pricing.html") View Pricing