mixin ready-to-grow 
  img.ready-to-grow__blur(src="./../../../assets/ready-to-grow-blur.png" alt="") 
  .container.ready-to-grow 
    .ready-to-grow__wrapper 
      h2.ready-to-grow__title Are you ready to grow your business with us?  
      .ready-to-grow__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.
      .ready-to-grow__button.button
        a.ready-to-grow__button--text(href="./../../dv-pricing/dv-index.pug") View Pricing