mixin stunning-results
  .jt-stunning-results 
    .jt-stunning-results__wrapper.container
      h2.jt-stunning-results__title The stunning results our customers have experienced
      .jt-stunning-results__block
        .jt-stunning-results__card.jt-card
          p.jt-card__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          .jt-card__image  
            img(src="./../../../assets/ron.png" alt="profile photo of ron")
          .jt-card__title Ron Wood
          .jt-card__subtitle CEO

        .jt-stunning-results__card.jt-card
          p.jt-card__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          .jt-card__image 
            img(src="./../../../assets/mark.png" alt="profile photo of mark")
          .jt-card__title Mark Mason
          .jt-card__subtitle Marketing Manager

        .jt-stunning-results__card.jt-card
          p.jt-card__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          .jt-card__image 
            img(src="./../../../assets/sam.png" alt="profile photo of sam")
          .jt-card__title Sam Preston
          .jt-card__subtitle CTO