.container.jt-stunning-results 
  .jt-stunning-results__wrapper
    h2.jt-stunning-results___title The stunning results our customers have experienced
    .jt-stunning-results__block
      .jt-stunning-results__card.jt-card
        p.jt-card__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        .jt-card__image  
          img(src="./fa-jt-assets/ron.png" alt="profile photo")
        .jt-card__title Ron Wood
        .jt-card__subtitle CEO

      .jt-stunning-results__card.jt-card
        p.jt-card__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        .jt-card__image 
          img(src="./fa-jt-assets/mark.png" alt="profile photo")
        .jt-card__title Ron Wood
        .jt-card__subtitle CEO

      .jt-stunning-results__card.jt-card
        p.jt-card__description Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        .jt-card__image 
          img(src="./fa-jt-assets/sam.png" alt="profile photo")
        .jt-card__title Ron Wood
        .jt-card__subtitle CEO
