.jt-features {
  &__wrapper {
    margin-bottom: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: $phone) {
      margin-bottom: 64px;
    }
  }

  &__title {
    font-size: $fs-heading-two;
    font-weight: $fw-bold;
    margin-bottom: 50px;
    text-align: center;
    line-height: 120%;
    max-width: 670px;

    @media (max-width: $desktop) {
      margin-bottom: 25px;
    }

    @media (max-width: $tablet) {
      font-size: $fs-heading-three;
    }

    @media (max-width: $phone) {
      font-size: $fs-heading-four;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    padding: 64px;
    background-color: #fdf0ff; // * TODO: Vira to add color
    border-radius: 15px;

    @media (max-width: $desktop) {
      flex-direction: column;
    }

    @media (max-width: $tablet) {
      padding: 32px;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
  }
}

.jt-block {
  border-right: 2px solid $c-light-violet;
  padding: 0 25px;
  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    border-right: none;
    padding-right: 0;
  }

  @media (max-width: $desktop) {
    border-right: none;
    border-bottom: 2px solid $c-light-violet;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;

    &:last-child {
      border: none;
      margin-bottom: 0;
    }
  }

  &__image {
    width: 55px;
    margin-bottom: 25px;

    @media (max-width: $desktop) {
      margin-bottom: 10px;
    }
  }

  &__title {
    font-size: $fs-heading-three;
    font-weight: $fw-bold;
    margin-bottom: 15px;

    @media (max-width: $desktop) {
      font-size: $fs-heading-four;
    }

    @media (max-width: $phone) {
      font-size: $fs-heading-five;
    }
  }

  &__description {
    font-size: $fs-text-large;
    line-height: 150%;

    @media (max-width: $desktop) {
      margin-bottom: 25px;
    }
  }
}
