mixin pricing-plans()
  section.container.dv-pricing-plans
    .dv-pricing-plans__wrapper
      .dv-pricing-plans__content
        h1.dv-pricing-plans__title Pricing plans that suit you
        .dv-pricing-plans__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
      .dv-pricing-plans__buttons 
        +button({text:'Monthly'})(class="button button--black")  
        +button({text:'Yearly'})(class="button dv-pricing-plans__button--transparent")  