include ../../static/elements/button
mixin sa-grow-sales()
  //- Block Grow
  .sa-wrapper-grow 
    .sa-grow-sales
      .sa-grow-sales__text-block
        h1.sa-grow-sales__title Grow your Sales and Services
        .sa-grow-sales__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .sa-grow-sales__buttons
          +button({text:'Get Started',type:'button'})(class='button button--black sa-grow-sales__button')
          +button({text:'Contact us',type:'button'})(class='button button--white')
      .sa-grow-sales__image-block
        img(src="../../../assets/dashboard.png", alt="dashbord").sa-grow-sales__image