extends ../../src/static/extends/layout
include ./src/faq
include ./src/card/card
include ./src/plans
include ./src/icon


block style 
  link(rel="stylesheet" href="../../index.css")
  link(rel="stylesheet" href="../pricing/pricing.css")





block title 
  title Pricing





block body
  .content
    .container
      +pricing-plans()
      +card()
      +dv-faq()

block script 
  script(src="../../index.js") 

