.mt-content-img {
  &__content {
    padding-top: 85px;
    max-width: 575px;
    margin-right: 90px;
    position: relative;
    z-index: 2;
    @media (max-width: $desktop) {
      padding-top: 0;
      margin-right: 0;
    }
  }  
  &__wraper {
    margin-top: 130px;
    margin-bottom: 130px;
    display: flex;
    align-items: flex-start;
    @media (max-width: $desktop) {
      flex-wrap: wrap;
      margin-top: 50px;
    }

    &-reverse {
      flex-direction: row-reverse;
      @media (max-width: $desktop) {
        flex-direction: row;  
      }

      .mt-content-img__content {
        margin-right: 0;
        margin-left: 90px;
        @media (max-width: $desktop) {
          margin-left: 0;
        }
      }
    }
  }

  &__wraper-shadowLeft:before {
    content: '';
    display: block;
    width: 430px;
    height: 430px;
    border-radius: 50%;
    position: absolute;
    left: -100px;
    bottom: -150px;
    background: radial-gradient(183.9% 2719.65% at -49.5% -250%, #D798E1 17.55%, #9BFFA5 27.56%, #AED3FF 49.89%, #C9D4EF 56.53%, #CACFFA 65.69%);
    opacity: 0.6;
    filter: blur(100px);
    @media (max-width: $desktop) {
      bottom: 0;
    }
  }

  &__wraper-shadowRight {
    position: relative;
    z-index: 2;

    &::before {
      content: '';
      display: block;
      width: 520px;
      height: 520px;
      position: absolute;
      z-index: -1;
      top: 0;
      right: 150px;
      bottom: 0;
      background: radial-gradient(183.9% 2719.65% at -49.5% -250%, #D798E1 17.55%, #9BFFA5 27.56%, #AED3FF 49.89%, #C9D4EF 56.53%, #CACFFA 65.69%);
      opacity: 0.6;
      filter: blur(100px);
      @media (max-width: $desktop) {
        left: 0;
        top: 300px;
      }
    }
  }

  &__subtitle {
    background: linear-gradient(53.94deg, #373FFF 15.02%, #3ACAF8 82.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: $fs-label;
    font-weight: $fw-bold;
    line-height: 30px;
    width: fit-content;
  }

  &__title {
    font-size: $fs-heading-two;
    font-weight: $fw-bold;
    color: $c-primary;
    line-height: 58px;
    margin-top: 20px;

    @media (max-width: $desktop) {
      font-size: $fs-heading-three;
      line-height: 1.2;
    }
  }

  &__text {
    margin-top: 30px;
    font-weight: $fw-base;
    line-height: 24px;
    color: $c-primary;
    opacity: 0.87;
  }

  &__image {
    width: 100%;
    max-width: 575px;
    @media (max-width: $desktop) {
      margin-top: 50px;
      max-width: 475px;
    }

  }
}