.sa-wrapper-grow {
  // background-image: url(../../../assets/ready-to-grow-blur.png);
  width: 100%;
  padding-top: 90px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 130px;

}

.sa-grow-sales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  &__image-block {
    max-width: 615px;
    margin-left: 80px;
  }
  &__text-block {
    display: flex;
    max-width: 575px;
    flex-direction: column;
  }
  &__title {
    font-size: $fs-heading-one;
    color: $c-primary;
    font-weight: $fw-bold;
  }
  &__text {
    color: $c-primary;
    margin: 25px 0 25px 0;
    font-size: $fs-text-large;
  }
  &__button {
    margin-right: 15px;
  }
}