include ./static/index
//- include ./fa-jt-home/home
//- include ./sa-mt-product/product
//- include ./dv-pricing/dv-index
//- include ./pi-contact/pi-index
//- include ./gs-about-us/gs-index
//- include ./to-blog/to-index
//- include ./pi-blog-post/pi-index

